@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Raleway:wght@500&display=swap");

* {
	font-family: "Mooli", sans-serif;
	font-family: "Raleway", sans-serif;
}

.episode-list {
	overflow-y: auto !important;
	height: 200px;
	overflow-x: hidden !important;
	/* padding: 10px; */
}

::-webkit-scrollbar {
	height: 55px !important;
	width: 5px !important;
}

::-webkit-scrollbar-thumb {
	background-color: #cfcece;
	border-radius: 10px !important;
	height: 55px !important;
}

::-moz-scrollbar {
	height: 4px !important;
	width: 1px !important;
}

::-moz-scrollbar-thumb {
	background-color: #888;
	height: 4px !important;
	border-radius: 10px !important;
}
